<!DOCTYPE html>
<html lang="en">
<head>
<title><%= content_for?(:title) ? yield(:title) : "SFK GENERALS LTD" %></title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Executive Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />


<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="agile-header">
				<div class="agileits-contact-info text-right">
					<ul>
						<i class="fa fa-envelope" aria-hidden="true"></i><li><a href="mailto:info@example.com">admin@sfkgeneralltd.com</a></li>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<i class="fa fa-headphones" aria-hidden="true"></i><li>&nbsp;&nbsp;+080 264 995</li>
					</ul>
				</div>
				<div class="w3_agileits_social_media">
					<ul>
						<li class="agileinfo_share">Share On</li>
						<li><a href="#" class="wthree_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html">SFK GENERAL LTD</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="menu menu--iris">
						<ul class="nav navbar-nav menu__list">
							<li class="menu__item menu__item--current"><%= link_to 'home', root_path, :class => "menu_link" %></li>

							<li class="menu__item"><%= link_to 'About Us', about_index_path, :class => "menu_link" %></li>

							<li class="menu__item"><%= link_to 'Services', service_index_path, :class => "menu_link" %></li>
							<li class="menu__item"><%= link_to 'Contact', contact_index_path, :class => "menu_link" %></li>
						</ul>
					</nav>
				</div>
			</nav>
			<div class="w3l_banner_info">

			   <p> TNETPro is a global consulting firm in the technology, power, telecommunication, oil & gas, education and defined vertical market industries.

We combine various strategic capabilities with sincere commitment and defined skills to deliver results and values to our client. The supreme satisfaction and standards of client services is what we vehemently achieve by being focus and analytical. We attract and retain exceptional talents which enable us to deliver outstanding profitable value to our clients.
read more

 
TNETPro is the formidable and trusted talents helping clients achieve success in their defined business goals.

Our consulting sphere in infrastructure services, unified communication, security, management services and the vertical market re-engineering; oil & gas, education, hospital and government; will provide the necessary framework that your business nee ds to improve its entire operations and streamline cost in line for profitability.</p>
				
			</div>			
		</div>
	</div>
<!-- //banner -->

<!-- welcome -->
<div class="welcome">
	 <div class="container">
		 <div class="welcome-top">
			<h2 class="w3ls_head">Welcome</h2>
			
			 <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
				corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
		 </div>
		  <div class="charitys">
			  <div class="col-md-3 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
						<figure class="icon">
							 <span class="glyphicon-icon glyphicon-heart" aria-hidden="true"></span>
						</figure>
						<h3>Managed Services</h3>
						<p>Curabitur convallis rutrum erat nec vestibulum. Sed iaculis hendrerit lectus sit amet lobortis vulputate magna finibus molestie tellus.</p>
				  </div>
			  </div>
			  <div class="col-md-3 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
						<figure class="icon">
							<span class="glyphicon-icon glyphicon-asterisk" aria-hidden="true"></span>
						</figure>						
						<h3>Consulting</h3>
						<p>Curabitur convallis rutrum erat nec vestibulum. Sed iaculis hendrerit lectus sit amet lobortis vulputate magna finibus molestie tellus.</p>
				  </div>
			  </div>
			  <div class="col-md-3 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
						 <figure class="icon">
							<span class="glyphicon-icon glyphicon-flag" aria-hidden="true"></span>
						</figure>						
						<h3>Converged Networks</h3>
						<p>Curabitur convallis rutrum erat nec vestibulum. Sed iaculis hendrerit lectus sit amet lobortis vulputate magna finibus molestie tellus.</p>
				  </div>
			  </div>
			  <div class="col-md-3 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
						 <figure class="icon">
							<span class="glyphicon-icon glyphicon-flag" aria-hidden="true"></span>
						</figure>						
						<h3>Software Application Delivery</h3>
						<p>Curabitur convallis rutrum erat nec vestibulum. Sed iaculis hendrerit lectus sit amet lobortis vulputate magna finibus molestie tellus.</p>
				  </div>
			  </div>
			  <div class="clearfix"></div>
		 </div>	
		<div class="banner-grids">
			<div class="col-md-8 banner-grid1">
				
				<h5>Lorem ipsum dolor sit amet, lorem Consec tetuer adipicing it. Praesebul lorem ipsum.S natoque penatibus et gnis dent monteiculu..</h5>
				<p>Lorem ipsum dolor sit amet, lorem Consec tetuer adipicing it. Praesebul lorem ipsum.S natoque penatibus et gnis dent monteiculu. Praesent vesti Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus .</p>
			</div>
			<div class="col-md-4 banner-grid">
				<img src="./db.jpeg" alt=" " class="img-responsive">
			</div>
				<div class="clearfix"></div>
		</div>				 
	 </div>
</div>
<!-- //welcome -->

<!--client-->
	<div class="client">
		<div class="container">
			<h3 class="w3ls_head">Client Says</h3>
			<p class="w3l">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
				corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
			<!--screen-gallery-->
						<div class="sreen-gallery-cursual">
							 <!-- required-js-files-->
							<link href="css/owl.carousel.css" rel="stylesheet">
							    <script src="js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items :1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation :true,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
								 <!--//required-js-files-->
						        <div class="charitys">
			  <div class="col-md-2 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
						<img src="./bt.png" alt=" " class="img-responsive" width="60" height="40">
						<h3>Consulting</h3>
						
				  </div>
			  </div>
			  <div class="col-md-2 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
						<img src="./hcl.gif" alt=" " class="img-responsive" width="60" height="40">						
						<h3>Consulting</h3>
						
				  </div>
			  </div>
			  <div class="col-md-2 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
						<img src="./fujitsu.jpg" alt=" " class="img-responsive" width="60" height="40">						
						<h3>Converged Networks</h3>
						
				  </div>
			  </div>
			  <div class="col-md-2 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
					<img src="./ee.png" alt=" " class="img-responsive" width="60" height="40">						
						<h3>Software Application Delivery</h3>
						
				  </div>
			  </div>
			  <div class="col-md-2 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
					<img src="./lbg.png" alt=" " class="img-responsive" width="60" height="40">						
						<h3>Software Application Delivery</h3>
						
				  </div>
			  </div>
			   <div class="col-md-2 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
					<img src="./t-systems.png" alt=" " class="img-responsive" width="60" height="40">						
						<h3>Software Application Delivery</h3>
						
				  </div>
			  </div>
			  <div class="col-md-2 chrt_grid" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				   <div class="chrty">
					<img src="./serco.png" alt=" " class="img-responsive" width="60" height="40">						
						<h3>Software Application Delivery</h3>
					</div>
			  </div>
										</div>	
					                </div>
				              </div>
						</div>
						<!--//screen-gallery-->
		</div>
	</div>	
	<!--//client-->
<!-- what -->
	<div class="what-w3ls">
		<div class="container">
			<h3 class="w3ls_head">Work Process</h3>
			<p class="w3agile">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
				corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
				<div class="what-grids">
					<div class="col-md-6 what-grid">
						<img src="./app_user.jpeg" class="img-responsive" alt=""/>
						<div class="what-agile-info">
							<h4>Consectetur</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam consectetur adipisicing elit. Ab aut dignissimos ea est</p>
						</div>
					</div>
					<div class="col-md-6 what-grid1">
						<div class="what-top">
							<div class="what-left">
								<i class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></i>
							</div>
							<div class="what-right">
								<h4>Adipisicing</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam consectetur adipisicing elit. Ab aut dignissimos ea est</p>
							</div>
								<div class="clearfix"></div>
						</div>
						<div class="what-top1">
							<div class="what-left">
								<i class="glyphicon glyphicon-flash" aria-hidden="true"></i>
							</div>
							<div class="what-right">
								<h4>Dignissimos</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam consectetur adipisicing elit. Ab aut dignissimos ea est</p>
							</div>
								<div class="clearfix"></div>
						</div>
						<div class="what-top1">
							<div class="what-left">
								<i class="glyphicon glyphicon-fire" aria-hidden="true"></i>
							</div>
							<div class="what-right">
								<h4>Consectetur</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam consectetur adipisicing elit. Ab aut dignissimos ea est</p>
							</div>
								<div class="clearfix"></div>
						</div>
					</div>
						<div class="clearfix"></div>
				</div>
		</div>
	</div>
<!-- //what -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-w3layouts">
				<div class="col-md-3 footer-agileits">
					<h3>Specialized</h3>
					<ul>
						<li>the printing</li>
						<li>typesetting industry.</li>
						<li>Lorem Ipsum</li>
						<li>unknown printer</li>
					</ul>
				</div>
				<div class="col-md-3 footer-wthree">
					<h3>Partners</h3>
					<ul>
						<li>unknown printer</li>
						<li>Lorem Ipsum</li>
						<li>the printing</li>
						<li>typesetting industry.</li>
					</ul>
				</div>
				<div class="col-md-3 footer-w3-agileits">
					<h3>Consultation</h3>
					<ul>
						<li>typesetting industry.</li>
						<li>the printing</li>
						<li>unknown printer</li>
						<li>Lorem Ipsum</li>
					</ul>
				</div>
				<div class="col-md-3 footer-agileits-w3layouts">
					<h3>Our Links</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="portfolio.html">Portfolio</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="footer-w3-agile">
				<div class="col-md-6 w3l-footer-top">
					<h3>Newsletter</h3>
					<form action="#" method="post" class="newsletter">
						<input class="email" type="email" placeholder="Your email..." required="">
						<input type="submit" class="submit"  value="">
					</form>
					<div class="footer-agile">
						<div class="col-md-6 footer-w3-1">
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<p> 7th Street 2nd Line,  </p>
							<p> Melbourne City, Australia.</p>
						</div>
						<div class="col-md-6 footer-w3l-1">
							<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
							<p> +080 264345 995.</p>
							<p> +080 264345 996.</p>
						</div>
							<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 w3ls-social-icons">
					<h3>Follow Us</h3>
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="copy-right-agile">
				<p>© 2017 Executive. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- for bootstrap working -->
	 <%= javascript_include_tag "application", media: 'all', 'data-turbolinks-track': true %>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>